body
{
	background-color:#222;
	color:#BBB;
	font-family:"Georgia", "Helvetica", Serif;
	padding:10px 20px 20px 10px;
	text-shadow:1.5px 1.5px 5px #000;

}

h1, h2 
{
color:#fff;
font-family:"Segoe UI", "Myriad Pro", "Calibri", Sans-Serif;

}

a
{
	color:#FFF;
	text-decoration:none;
}

a:hover
{
	color:#666;


}

.fill 
{
width:100%;
height:100%;
border:none;
}

#main
{
	position:relative;
	
	max-width:1024px;
	min-width:640px;
	
	height:800px;
	
	margin-left:auto;
	margin-right:auto;
	
	-moz-box-shadow:0 0 25px #000;
	-webkit-box-shadow:0 0 25px #000;
}

#root {

}